@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';

.basicInfo {
  display: flex;
  width: 100%;
  height: 100%;

  @include responsive.after('lg') {
    flex-direction: column;
  }

  .imageContainer {
    width: 40%;

    @include responsive.after('lg') {
      width: 100%;
      height: 100%;
    }

    .image {
      width: 100%;
      height: 100%;
      max-height: 800px;
      object-fit: cover;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    padding: 1rem;
    @include responsive.after('lg') {
      flex: 1;
      width: 100%;
    }

    .nameContainer {
      margin-bottom: 1rem;

      .name {
        margin-bottom: 0.5rem;
        font-size: 1.875rem;
      }

      .fullname {
        margin-left: 0.125rem;
        font-size: 1.25rem;
        color: colors.$gray-400;
      }
    }

    .stats {
      .statItems {
        .statItem {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }

          .label {
            margin-right: 0.5rem;
            font-size: 1.125rem;
          }

          .weak {
            color: colors.$gray-500;
          }

          .normal {
            color: colors.$green;
          }

          .strong {
            color: colors.$blue;
          }

          .powerful {
            color: colors.$yellow;
          }

          .mighty {
            color: colors.$purple;
          }

          .untouchable {
            color: colors.$orange;
          }

          .god {
            color: colors.$red;
          }
        }
      }
    }
  }
}
