@use 'src/styles/constants/colors';

.appWrapper {
  display: flex;
  justify-content: center;
  background-image: url('/assets/images/united-wallpaper.webp');
  background-position: top;
  background-size: contain;

  .app {
    position: relative;
    display: flex;
    flex: 1;
    max-width: 1280px;
    min-height: 100vh;
    background: colors.$primary-bg;
  }
}
